-## Testing for @iis presence because callslip needs it
-## but not sure if callslip is even sticking around (what's
-## the difference between it and L2L?)
- Rails.logger.debug "mjc12test: itemstouse - #{@items}"
-if (@items.present? && @items.length > 0)
  .form-group
    %label.control-label.col-sm-2
      -if (@items.length > 1)
        Select a copy:
      -elsif (@items.length == 1)
        This copy:
    .col-sm-10
      -@items.each do |i|
        .radio
          %label{ :for => "copy-#{i.id}"}
            -if (@items.length == 1)
              %input(id="copy-#{i.id}" class="copy-select" type="radio" name="holding_id" value="#{i.id}" data-exclude-location="#{i.excluded_locations}" checked)
            -else
              %input(id="copy-#{i.id}" class="copy-select" type="radio" name="holding_id" value="#{i.id}" data-exclude-location="#{i.excluded_locations}")
            = "#{i.location['name']} #{i.enumeration} "
            - if i.copy_number
              = "c. #{i.copy_number} "
            %span.copy-callnumber
              = " - #{i.call_number}"
