%div.form-alternative-action
  %h3
    Other delivery options
  %div.col-sm-6.pl-0
    %table.table.table-striped.table-bordered.request-options{:summary => "Other delivery options for requesting this item, with standard delivery times"}
      %caption.sr-only
        Other delivery options for requesting this item, with standard delivery times
      %thead
        %tr
          %th{:scope => "col"}
            Request type
          %th{:scope => "col"}
            Delivery time
      - if @alternate_methods
        - session[:volume] = @volume
        - @alternate_methods.each do |option|
          - if option[:method] == BlacklightCornellRequests::L2L
            %tr
              %td
                = link_to request_l2l_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Cornell library to library
              %td
                = delivery_estimate_display BlacklightCornellRequests::L2L.time
          - elsif option[:method] == BlacklightCornellRequests::BD
            %tr
              %td
                = link_to request_bd_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Borrow Direct
              %td
                = delivery_estimate_display BlacklightCornellRequests::BD.time
          - elsif option[:method] == BlacklightCornellRequests::Hold
            %tr
              %td
                = link_to request_hold_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Hold
              %td
                = delivery_estimate_display BlacklightCornellRequests::Hold.time
          - elsif option[:method] == BlacklightCornellRequests::Recall
            %tr
              %td
                = link_to request_recall_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Recall
              %td
                = delivery_estimate_display BlacklightCornellRequests::Recall.time
          - elsif option[:method] == BlacklightCornellRequests::PurchaseRequest
            %tr
              %td
                = link_to request_purchase_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Purchase request
              %td
                = delivery_estimate_display BlacklightCornellRequests::PurchaseRequest.time
          - elsif option[:method] == BlacklightCornellRequests::ILL
            - link = option[:ill_link] || request_ill_path(:bibid => @id, :volume => @volume)
            %tr
              %td
                = link_to link, {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Interlibrary Loan
              %td
                = delivery_estimate_display BlacklightCornellRequests::ILL.time
          - elsif option[:method] == BlacklightCornellRequests::AskCirculation
            %tr
              %td
                = link_to request_circ_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Check circulation
              %td
                This item is a short-term loan. Please check at the circulation desk.
          - elsif option[:method] == BlacklightCornellRequests::DocumentDelivery
            - link = option[:scanit_link] || request_document_delivery_path(@id)
            %tr
              %td
                = link_to link, {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  ScanIt
              %td
                = delivery_estimate_display BlacklightCornellRequests::DocumentDelivery.time
          - elsif option[:method] == BlacklightCornellRequests::PDA
            %tr
              %td
                = link_to request_pda_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Purchase request
              %td
                = delivery_estimate_display BlacklightCornellRequests::PDA.time
          - elsif option[:method] == BlacklightCornellRequests::MannSpecial
            %tr
              %td
                = link_to request_mann_special_path(@id), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Mann Special Collections
              %td
                = delivery_estimate_display BlacklightCornellRequests::MannSpecial.time
%p.form-alternative-action
  = succeed "." do
    If you need further help, please
    =link_to 'Ask a Librarian','http://www.library.cornell.edu/ask'
