%div.form-alternative-action.row
  %div.col-sm-12
    %h3
      Other delivery options
  %div.col-sm-6
    %table.table.table-striped.table-bordered.request-options
      %thead
        %tr
          %th
            Request type
          %th
            Delivery time
      - if @alternate_request_options
        //- session[:volume] = @volume
        - @alternate_request_options.each do |option|
          - if [BlacklightCornellRequests::L2L, BlacklightCornellRequests::BD, BlacklightCornellRequests::Hold, BlacklightCornellRequests::Recall, BlacklightCornellRequests::PurchaseRequest, BlacklightCornellRequests::DocumentDelivery, BlacklightCornellRequests::PDA].include? option
            %tr
              %td
                = link_to request_by_method_path(option), {:title => @ti, :class => 'alternate-request-link'} do
                  %i.fa.fa-arrow-circle-right
                  = option.description
              %td
                = delivery_estimate_display option.time
          - elsif option == BlacklightCornellRequests::ILL
            %tr
              %td
                = link_to request_ill_path(:bibid => @id, :volume => @volume), {:title => @ti, :class => 'alternate-request-link'} do
                  %i.fa.fa-arrow-circle-right
                  Interlibrary Loan
              %td
                = delivery_estimate_display BlacklightCornellRequests::ILL.time
          - elsif option == BlacklightCornellRequests::AskCirculation
            %tr
              %td
                = link_to request_by_method_path(option), {:title => @ti} do
                  %i.fa.fa-arrow-circle-right
                  Check circulation
              %td
                This item is a short-term loan. Please check at the circulation desk.
%p.form-alternative-action
  = succeed "." do
    If you need further help, please
    =link_to 'Ask a Librarian','http://ask.library.cornell.edu'
