-title = the_vernaculator(@document['title_display'], @document['title_vern_display'])
-subtitle = the_vernaculator(@document['subtitle_display'], @document['subtitle_vern_display'])
- @selected_volume = params[:volume]
= render :partial => 'shared/back_to_item'
%h2
  = "BorrowDirect Request for #{@netid}"
%div.card
  %div.card-body
    %h3.item-title-request.blacklight-title_display
      =title
      - Rails.logger.debug "mjc12a: iis: #{@iis}"
      -if @iis.present?
        -@iis.each do |copyn, copyd|
          -if copyd[:item_enum].present?
            = copyd[:item_enum]

    %div.request-author
      = author_display

    - if !@estimate.blank?
      %p
        Delivery time: approximately 
        = delivery_estimate_display @estimate

    - if @isbn.present?
      %form#req.bd-request{:method => 'post', :action => make_bd_request_path}
        = render :partial => 'shared/reqpu_bd'
        .form-group.row
          %label.col-sm-2.col-form-label{:for => 'reqcomments'} Notes to staff:
          .col-sm-10
            %textarea(name="reqcomments" id="reqcomments" class="form-control")
        %input(type="hidden" name="bd_id" value="#{@bd_id}" id="bd_id")
        %div.clearfix
          %input#bd-request-submit.btn.btn-danger.pull-left(type="submit" name="submit" value="Submit BorrowDirect request")
          %span{:id => 'request-loading-spinner'}
        %div#request-message-well

    - else
      %p To request this item, search BorrowDirect  and place a request.
      = link_to 'Search BorrowDirect', borrowdirect_url_from_title(@ti), :class => 'btn btn-danger pull-left'

    -if @alternate_methods && @alternate_methods.count > 1
      = render :partial => 'shared/request_options'
    -else
      .form-alternative-action
        = succeed "." do
          If you need further help, please
          =link_to 'Ask a Librarian','http://www.library.cornell.edu/get-help/ask'
