= render :partial => 'shared/back_to_item'
%h2 BorrowDirect & Interlibrary Loan
%div.card
  %div.card-body
    %h3.item-title-request.blacklight-title_display
      =@ti
      -if @iis.present?
        -@iis.each do |copyn, copyd|
          -if copyd[:item_enum].present?
            = copyd[:item_enum]
    %div.request-author=@au
    %p
      %strong
        BorrowDirect and interlibrary loan requests have been combined. Your request will be fulfilled using the fastest method available.
    %p
      To request this item, complete the interlibrary loan form by clicking the button below.
    %p
      - if !@estimate.blank?
        Delivery time: 
        = delivery_estimate_display @estimate
    .clearfix
      %a{:href => @ill_link, :class => 'btn btn-danger pull-left'}
        Go to the BorrowDirect/Interlibrary Loan Form
    -if @alternate_methods && @alternate_methods.count > 1
      = render :partial => 'shared/request_options'
    -else
      .form-alternative-action
        = succeed "." do
          If you need further help, please
          =link_to 'Ask a Librarian','http://www.library.cornell.edu/get-help/ask'