-title = the_vernaculator(@document['title_display'], @document['title_vern_display'])
-subtitle = the_vernaculator(@document['subtitle_display'], @document['subtitle_vern_display'])
-pickup_locations = pickup_locations
- Rails.logger.debug "mjc12test: itemstouse - #{@items}"
- @selected_volume = params[:volume]
= render :partial => 'shared/back_to_item'
%h1.request-type
  = "Request Cornell library to library delivery for user: #{@netid}"
%div.card
  %div.card-body
    %h2.blacklight-title_display.item-title-request
      =title
    %div.request-author
      = author_display
    %form#req.l2l-request{:method => 'post', :action => make_folio_request_path({:bibid =>@id})}
      -if @volumes.present? && @volumes.count > 1
        .form-group.row
          %label.col-form-label.col-sm-2{:for => "volume-selection"}
            Current volume:
          .delivery-estimate.col-sm-10
            = render :partial =>'shared/volume_select'
      %input(type="hidden" name="bid" value="#{@id}" id="bid")
      %input(type="hidden" name="request_action" value="Page" id="request_action")
      %input(type="hidden" name="instance_id" value="#{@document['instance_id']}")
      -# The following is a hack. We need the holdings record id in order to place a request
      -# in FOLIO Lotus, but that information is awkward to get because we don't know the
      -# selected item ID until the user submits this form. Thus, we pass along the items_json
      -# block as a param and then use that to figure out which holdings ID to use back in the controller.
      %input(type="hidden" name="items_json" value="#{@document['items_json']}")
      = render :partial => 'shared/l2lac'
      = render :partial => 'shared/reqpu'
      .form-group.row
        %label.col-form-label.col-sm-2{:for => 'reqcomments'} Notes to library staff:
        .col-sm-10
          %textarea(name="reqcomments" id="reqcomments" class="form-control")
      - if @estimate.present?
        .form-group.row
          .col-form-label.col-sm-2 Delivery time:
          .delivery-estimate.col-sm-10
            Approximately
            = delivery_estimate_display @estimate
      -if @alternate_methods && @alternate_methods.count > 1
        %div.clearfix
          %input#request-submit.btn.btn-danger.pull-left(type="submit" name="submit" value="Submit delivery request")
          %span{:id => 'request-loading-spinner'}
        = render :partial => 'shared/request_options'
      -else
        %div.clearfix
          %input#request-submit.btn.btn-danger.pull-left(type="submit" name="submit" value="Submit delivery request")
          %div.accordion-heading.request-options.pull-left.form-alternative-action
            or
            =link_to 'Ask a Librarian','http://www.library.cornell.edu/ask'
            for help.

  -## Used to display working status and result of request via Ajax
  #result
