test:
%p 
  id: 
  = @id
%p 
  netid: 
  = @netid
%p
  primary method:
  = @primary_option
%p
  estimate:
  = @estimate
%p
  secondary methods:
  = @alternate_request_options
%p
  volume:
  = @volume
%p
  volumes:
  = @volumes